*
!README.md
!.gitignore
!showcase_assets/
!showcase_assets/video/
!showcase_assets/video/job_ops_project_showcase.mp4
!showcase_assets/images/
!showcase_assets/images/dashboard_overview.png
!showcase_assets/images/jobs_density_map.png
!showcase_assets/images/jobs_workspace.png
!showcase_assets/images/automation_console.png
